<!-- start custom footer snippets -->

<!--<div style="display: flex; justify-content: center; align-items: center; max-width: 150px; max-height: 150px; overflow: hidden;">-->
<!--  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=5n_AzvAUkSv1D1XY0dMY6a03hxKbTTlv4A-PO3-XhLk'></script>-->
<!--</div>-->
 <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=5n_AzvAUkSv1D1XY0dMY6a03hxKbTTlv4A-PO3-XhLk'></script>
<!-- end custom footer snippets -->
